<%- include('adheader') %>
<section class="content-main">
    <div class="row">
        <div class="col-12">
            <div class="content-header text-center">
                <h2 class="content-title">Add New Product</h2>
            </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h4>Basic Information</h4>
                </div>
                <div class="card-body">
                    <form action="/admin/addproducts" method="POST" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" required />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control" rows="4" required></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Price</label>
                                <input placeholder="₹" name="price" type="number" class="form-control" required />
                            </div>
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Stock</label>
                                <input type="number" name="stock" class="form-control" required />
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header text-center">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    <div class="col-sm-12 mb-3">
                                        <label class="form-label">Category</label>
                                        <select name="category" class="form-select" required>
                                            <% if (categories && categories.length > 0) { %>
                                                <% categories.forEach((category) => { %>
                                                    <option><%= category.name %></option>
                                                <% }) %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header text-center">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload text-center">
                                    <img src="/assets/imgs/theme/upload.svg" alt="Upload Image" />
                                    <input name="images" class="form-control mt-3" type="file" id="productImages" multiple required onchange="previewImage(event, 'imagePreview')" />
                                </div>
                                <div id="imagePreview" class="row mt-3"></div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-md rounded font-sm hover-up">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('adfooter') %>

<script>
 function previewImage(event, previewId) {
    const previewContainer = document.getElementById(previewId);
    previewContainer.innerHTML = ''; // Clear previous preview
    const files = event.target.files;

    const MAX_FILES = 5;

    if (files && files.length > 0 && files.length <= MAX_FILES) {
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = (event) => {
                const image_url = event.target.result;
                const imageContainer = document.createElement("div");
                imageContainer.style.display = "inline-block";
                imageContainer.style.width = "100px";
                imageContainer.style.height = "100px";
                imageContainer.style.marginRight = "10px";

                const image = document.createElement("img");
                image.src = image_url;
                image.style.width = "100%";
                image.style.height = "100%";
                image.style.objectFit = "cover";
                image.style.borderRadius = "5px";
                image.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.1)";

                const deleteButton = document.createElement("button");
                deleteButton.innerText = "Delete";
                deleteButton.style.position = "relative";
                deleteButton.style.bottom = "5px";
                deleteButton.style.backgroundColor = "red";
                deleteButton.style.color = "white";
                deleteButton.style.border = "none";
                deleteButton.style.cursor = "pointer";
                deleteButton.style.padding = "2px 5px";
                deleteButton.style.marginTop = "5px";
                deleteButton.style.display = "block";
                deleteButton.style.width = "100%";
                deleteButton.style.borderRadius = "5px";
                deleteButton.onclick = function () {
                    imageContainer.remove();
                };

                imageContainer.appendChild(image);
                imageContainer.appendChild(deleteButton);
                previewContainer.appendChild(imageContainer);
            };

            reader.readAsDataURL(file);
        }
    } else {
        // Display an error message if the maximum number of files is exceeded
        let alertMessage = document.createElement("p");
        alertMessage.style.color = "red";
        alertMessage.innerHTML = "Maximum 5 files allowed.";
        previewContainer.appendChild(alertMessage);
        event.target.value = ''; // Clear the file input field
    }
}
</script>
